    body {
      font-family: Arial, sans-serif;
      background-color: #5ba2e9;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .register-container {
      background-color: #ffffff;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      width: 320px;
    }

    .register-container h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    button{
        padding: 20px;
        border-radius: 5px;
        background-color: #0eaf08;
    }

    .form-group {
      margin-bottom: 15px;
    }

    .form-group input{
        width: 90%;
        padding: 10px;
    }

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }
